// Mixins
@mixin linear-gradient($angle, $gradient1, $gradient2) {
  background-color: $gradient2; /* Fallback Color */
  background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient($angle, $gradient1, $gradient2); /* FF3.6 */
  background-image:     -ms-linear-gradient($angle, $gradient1, $gradient2); /* IE10 */
  background-image:      -o-linear-gradient($angle, $gradient1, $gradient2); /* Opera 11.10+ */
  background-image:         linear-gradient($angle, $gradient1, $gradient2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}');
}

// Keyframes
@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 0.5 }
  100% { opacity: 1 }
}
.flex {
  display: flex;
  justify-content: space-between;
}
.mt-2 {
  margin-top: 20px;
}
.mt-100 {
  margin-top: 100px;
}
nav {
  ul {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  a {
    margin: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
  }
}

// BLACK MAGIC
.app > * {
  display: none;
}

.app > *:last-child {
  display: block;
}

.app > *:target {
  display: block;
  animation: fade 300ms linear 1;
}

.app > *:target ~ * {
  display: none;
}

// body {
//   background-color: #fff;
//   color: #fff;
//   font-family: 'Inconsolata', monospace;
//   font-size: 18px;
//   line-height: 1.5;
//   background-image: url('../images/friperie.jpg');
//   background-repeat: no-repeat;
// }

body {
  color: #000;
  font-family: "Raleway", "sans-serif";
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

.en-tete {
  text-align: center;
}

// Container
.container {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 2em;
  font-size: 16px;
}

// index
.container_site {
  padding: 10px 100px;
  text-align: center;
  .img_logo {
    margin: 0 auto;
  }
  .navigation {
    width: 15%;
  }
}
.projet {
  padding: 3px;
  h1, h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: 100;
  }
  .explain-appli {
    .bloc-explain {
      text-align: left;
    }
  }
}
.pictures-screen {
  img {
    width: 70%;
  }
}
.link {
  color: #000;
  font-size: 20px;
  &:hover {
    color: red;
  }
}
// responsive part
@media (max-width: 768px) {
  .container_site {
    padding: 5px;
    padding-bottom: 15px;
    .img_logo {
      img {
        width: 50%;
      }
    }
    .en-tete {
      img {
        width: 270px;
      }
    }
    .projet {
      h1 {
        font-size: 15px;
        text-transform: uppercase;
      }
      h2 {
        font-size: 14px;
      }
      .link_projet {
        a {
          img {
            width: 16%;
          }
        }
      }
    }
    .navigation {
      width: 30%;
      img {
        width: 80px;
      }
    }
    .container {
      padding: 5px;
      font-size: 15px;
    }
  }
}
