<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/etogs.app/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Contact : etogs.app@gmail.com</p>
    <p>Etogs©2019</p>
  </div>
</div>
