<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Contact : etogs.app@gmail.com</p>
    <p>Etogs©2019</p>
  </div>
</div>
