.btns {
  display: flex;
  // justify-content: space-around;
  img{
    width: 90%;
  }
}
.brands {
  margin-top: 20px;
}
.btn_marques {
  margin-bottom: 20px;
}
@media (max-width: 970px) {
  .brands {
    img {
      width: 55%;
    }
  }
}
