.colors {
  .green {
    background-color: #79DE5E;
    width: 35px;
    height: 35px;
    border-radius: 50%
  }
  .blue {
    background-color: #17a2b8;
    width: 35px;
    height: 35px;
    border-radius: 50%
  }
  .red {
    background-color: #EA282B;
    width: 35px;
    height: 35px;
    border-radius: 50%
  }
}
