.app_description {
  padding-top: 25px;
  .presentation {
    font-size: 12px;
    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 20px;
    }
    .btns {
      .btn-scan {
        color: white;
        background-color: red;
        padding: 10px;
        border-radius: 10%;
      }
      .btn-help {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 10%;
      }
    }
  }
  .img_app {
    img {
      max-width: 120px;
    }
  }
}
