.fonctionnement {
  font-size: 12px;
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (min-width: 1200px) {
  .fonctionnement {
    font-size: 20px;
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 32px;
    }
  }
}
