.more_infos {
  font-size: 12px;
  background: #ea441d2e;
  font-weight: bold;
  .bold {
    font-weight: bold;
  }
  .icones_infos {
    i {
      font-size: 40px;
      color: #ea441d;
    }
    .sources {
      font-size: 10px;
      text-align: right;
    }
  }
  h2 {
    margin-bottom: 35px;
  }
}
.fade {
  opacity: 0;
}
@media (min-width: 1200px) {
  .more_infos {
    font-size: 15px;
  }
}
