.more_infos {
  font-size: 12px;
  .bold {
    font-weight: bold;
  }
  .icones_infos {
    i {
      font-size: 40px;
      color: #ea441d;
    }
  }
  h2 {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .more_infos {
    font-size: 15px;
  }
}
