<div class="wrapper-white">
  <div class="row">
    <div class="a_propos">
      <h3 class="accroche text-center">Qui se cache derrière le projet ?</h3>
      <div class="my_presentation col-xs-12">
        <div class="text-center">
          <img src="../images/ines.gif" width="170px" alt="">
          <h4>Porteuse de projet</h4>
        </div>
        <h2 class="subtitles">Le point de départ ?</h2>
        <p>Lors d'une discussion avec une amie, nous nous sommes questionnées sur <strong>la provenance de nos vêtements.</strong>C'est alors qu'elle m'a suggérée de <strong>développer une Application</strong> permettant d'obtenir ces informations.<br>Si aujourd'hui nous sommes de plus en plus en mesure de savoir ce que l'on mange, qu'en est-il de ce que l'on porte ?</p>
        <h2 class="subtitles">L'ambition ?</h2>
        <p>Développer cette application autour d'une <strong>communauté engagée et/ou curieuse</strong> d'en savoir plus sur les vêtements qu'elle porte au quotidien.</p>
        <h2 class="subtitles">Les moyens ?</h2>
        <p>Vous écouter, apprendre à vous connaître, pour <strong>construire ensemble</strong> ce produit dans le but de faire avancer les choses dans l'industrie textile.</p>
        <h2 class="subtitles">La prochaine étape ?</h2>
        <p><strong>Gagner votre confiance et récolter vos avis</strong> pour réussir à vous satisfaire au mieux.</p>
        <p class="text-right">Inès.</p>
      </div>
    </div>
    <div class="container a_propos text-center">
      <div class="accompagnement">
        <% link_to 'https://na.wikilespremieres.com/fr', target: :_blank do %>
          <img class="fade" src="../images/les_premieres.png" alt="les premieres" width="130px">
        <% end %>
        <p>Projet incubé au sein de l'incubateur Les Premières.</p>
      </div>
      <div class="work_space">
        <% link_to 'https://darwin.camp/', target: :_blank do %>
          <img class="fade" src="../images/logo-darwin.png" alt="darwin" width="170px">
        <% end %>
        <p>l'espace de travail ? Co-working des Premières, à Darwin (Bordeaux).</p>
      </div>
    </div>
  </div>
</div>
