<div class="wrapper-white">
  <div class="row">
    <div class="container">
      <h3>Qui se cache derrière le projet ?</h3>
      <div class="col-xs-4">
        <img src="../images/ines.gif" width="140px" alt="">
      </div>
      <div class="col-xs-8">
        <h4>La porteuse de projet</h4>
        <p>blablabla</p>
      </div>
      <p>Je m'appelle Inès, j'ai 28 ans et je viens de Lille.</p>
      <h4>L'accompagnement</h4>
      <p>Le projet est incubé au sein de l'incubateur Les Premières.</p>
      <p>Les Premières accompagnent les femmes et les équipes mixtes﻿  dans la création et le développement de leurs entreprises innovantes.</p>
      <h4>Où ?</h4>
      <p>Nous travaillons sur le développement de l'application dans l'espace de co-working des Premières, à Darwin.</p>
      <p>Darwin est l'éco-système écolo basé à Bordeaux, où sont installés de nombreux projets innovants et engagés dans la transition écologique.</p>
    </div>
  </div>
</div>
