<div class="wrapper-white">
  <div class="row">
    <div class="container a_propos text-center">
      <h3>Qui se cache derrière le projet ?</h3>
      <div class="my_presentation col-xs-12">
        <img src="../images/ines.gif" width="170px" alt="">
        <h4>La porteuse de projet</h4>
        <p>blablabla</p>
        <p>Je m'appelle Inès, j'ai 28 ans et je viens de Lille.</p>
      </div>
      <div class="accompagnement">
        <img src="../images/les_premieres.png" alt="les premieres" width="130px">
        <p>Le projet est incubé au sein de l'incubateur Les Premières.</p>
        <p>Les Premières accompagnent les femmes et les équipes mixtes﻿  dans la création et le développement de leurs entreprises innovantes.</p>
      </div>
      <div class="work_space">
        <img src="../images/logo-darwin.png" alt="darwin" width="170px">
        <p>Nous travaillons sur le développement de l'application dans l'espace de co-working des Premières, à Darwin.</p>
        <p>Darwin est l'éco-système écolo basé à Bordeaux, où sont installés de nombreux projets innovants et engagés dans la transition écologique.</p>
      </div>
    </div>
  </div>
</div>
