<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, #efa09e69 0%, rgba(0,36,61,0.6) 50%), url(../images/workwork.jpg);">
  <div class="banner-content">
  </div>
</div>
<div class="wrapper-white">
  <div class="row">
    <div class="container">
      <h1>Contact</h1>
      <p>Écrivez-nous <i class="fas fa-arrow-right"></i> <%= mail_to 'etogs.app@gmail.com', " ici"%></p>
      <p>Vous pourrez nous rencontrer dans l'espace de co-working de Darwin, à Bordeaux.</p>
    </div>
  </div>
</div>
