---
title: Etogs - Presentation
---
<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, #efa09e69 0%, rgba(0,36,61,0.6) 50%), url(../images/friperie.jpg);">
  <div class="banner-content">
    <img src="../images/transparent_white_last.png" alt="">
  </div>
</div>
<div class="accroche text-center">
  <h1 class="text_accroche"><span class="text-uppercase">Etogs:</span> Je décide d'en savoir plus sur les vêtements que je porte.</h1>
</div>
<!-- Cards -->
<a href="#top" class="back-to-top"><i class="fas fa-arrow-up"></i></a>
<div class="wrapper-white">
  <div class="row">
    <div class="container app_description">
      <div class="col-xs-4 img_app">
        <img src="../images/appli.png" alt="">
      </div>
      <div class="col-xs-8 presentation">
        <h3>Faisons connaissance...</h3>
        <h2>Sait-on vraiment ce que l'on porte ?</h2>
        <p>Avec Etogs, nous sommes bien décidés à vous permettre d’être <strong>mieux avertis</strong> sur tous les vêtements que vous portez.</p>
        <p>Tant sur <strong>l’impact environnemental </strong> de leur fabrication que sur les <strong>conditions de travail</strong> sur toute la chaîne de production de vos articles.</p>
        <div class="btns">
          <% link_to 'http://etogs.club', target: :_blank do %>
            <%= image_tag '../images/btn_scan.svg' %>
          <% end %>
          <% link_to 'https://webquest.fr/?m=65992_etogs---je-veux-tout-savoir-sur-ce-que-je-porte', target: :_blank do %>
            <%= image_tag '../images/btn_questionnaire.svg' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="separate"></div>
    <div class="container more_infos hideme">
      <h2 class="text-center">Le saviez-vous ?</h2>
      <div class="icones_infos fade">
        <div class="col-xs-4 text-center">
          <i class="fas fa-tint"></i>
          <p class="bold">2500 L</p>
          <p>C'est la quantité d'eau nécessaire pour fabriquer un tee-shirt en coton, de 250 grammes.</p>
        </div>
        <div class="col-xs-4 text-center">
          <i class="fas fa-trash-alt"></i>
          <p class="bold">12 kilos</p>
          <p>C'est le poids de vêtements jetés tous les ans par chaque français.</p>
        </div>
        <div class="col-xs-4 text-center">
          <i class="fas fa-gas-pump"></i>
          <p class="bold">70 millions</p>
          <p>C'est le nombre de barils d'essence nécessaires pour la production de polyester chaque année.</p>
        </div>
        <p class="sources">source: huffingtonpost.</p>
      </div>
    </div>
    <div class="separate"></div>
    <div class="container fonctionnement hideme">
      <div class="container">
        <div class="col-xs-4">
          <img src="../images/scan_app.png" alt="">
        </div>
        <div class="col-xs-8">
          <h2>Comment ça marche ?</h2>
          <p>1. J'ouvre l'application <strong>Etogs</strong></p>
          <p>2. Je <strong>scanne le code barre </strong>de mon article (code barre EAN - 13 chiffres présent sur la plupart des étiquettes à l'intérieur de votre vêtement)</p>
          <p>3. J’accède <strong>instantanément</strong> aux informations de mon article</p>
          <p>Et si le produit n’est pas encore référencé ? <strong>Vous pouvez le créer vous-même!</strong> Il vous suffit de remplir le formulaire avec les informations se trouvant sur l'article.</p>
        </div>
        <h3 class="text-center fade">La communauté, c'est à vous de jouer !</h3>
      </div>
    </div>
    <div class="separate"></div>
    <div class="container contact_bloc">
      <div class="container">
        <div class="btn_go">
          <h2>Alors, on s'y met ?</h2>
          <p>Pour nous aider à améliorer l'application et faire partie de la communauté, répondez à notre questionnaire!</p>
          <% link_to 'https://webquest.fr/?m=65992_etogs---je-veux-tout-savoir-sur-ce-que-je-porte', target: :_blank do %>
            <%= image_tag '../images/btn_questionnaire.svg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
