---
title: Le Wagon - Middleman
---
<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, #efa09e69 0%, rgba(0,36,61,0.6) 50%), url(../images/friperie.jpg);">
  <div class="banner-content">
    <img src="../images/transparent_white.png" alt="">
    <p>Je décide d'en savoir plus sur les vêtements que je porte.</p>
  </div>
</div>
<!-- Cards -->
<div class="wrapper-white">
  <div class="container padded">
    <h2 class="text-center">Recent flats</h2>
    <div class="row">

    </div>
  </div>
</div>
