<div class="wrapper-white">
  <div class="row">
    <h1 class="accroche text-center">Vous êtes une marques? <br>Etogs est fait pour vous aussi!</h1>
    <div class="flex">
      <div class="screen_brands text-center">
        <%= image_tag '../images/brands_page.png' %>
      </div>
      <div class="container a_propos text-center">
        <p>Que vous soyez une <strong>marque éthique</strong> mettant en avant l'utilisation des matières premières <strong>durables, recyclées,</strong> le tout dans un soucis de transparence, pour la création de vos collections.</p>
        <p>Ou bien une <strong>marque grands groupes,</strong> en transition écologique pour faire face à ces <strong>nouvelles problèmatiques, mettant en avant la préservation de l'environnement et le soucis de produire mieux.</strong></p><br>

        <h4>Quels avantages pour vous ?</h4><br>
        <p>Chaque marque acceptant de rejoindre la <strong>communauté</strong> aura la possibilité de créer sa propre « Page Marque ».</p>
        <p>En nous rejoignant, vous pourrez alors <strong>renseigner notre communauté</strong> sur les matières que vous utilisez, la fabrication de vos articles, la provenance de vos matières premières et leur acheminement, ainsi que vos engagements.</p>

        <p>De plus, vous pourrez <strong>référencer</strong> chaque article de votre collection pour que chaque utilisateur puisse y avoir accès et sélectionner ses articles <strong>"coups de coeur"</strong>.</p>

        <p>Enfin, chaque utilisateur ayant annonté votre marque comme "marque coup de coeur" pourra obtenir toutes les nouvelles <strong>informations et actualités</strong> vous concernant sous forme de <strong>notifications</strong>, pour une meilleure <strong>visibilité et proximité</strong> avec la communauté Etogies.</p>

        <h1 class="warning text-center">L’industrie du textile va être confrontée à un tournant déterminant. <br>Prenons ensemble les devants afin d’anticiper au mieux cette transition.</h1>
        <div class="btn_marques">
          <% link_to 'https://www.survio.com/survey/d/K1G2H8S5X4F9F4P2M', target: :_blank do %>
          <%= image_tag '../images/btn_marques.svg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
