<div class="wrapper-white">
  <div class="row">
    <div class="container a_propos text-center">
      <h1 class="accroche text-center">Vous êtes une marques? <br>Etogs est fait pour vous aussi!</h1>
    </div>
  </div>
</div>
