<div class="wrapper-white">
  <div class="row">
    <div class="container a_propos text-center">
      <h3>Si vous êtes une marques, voici pourquoi le projet peut être intéressant pour vous</h3>
    </div>
  </div>
</div>
