<div class="wrapper-white">
  <div class="row">
    <div class="container a_propos text-center">
      <h1 class="accroche text-center">Vous êtes une marques? <br>Etogs est fait pour vous aussi!</h1>
      <p>Que vous soyez une <strong>marque éthique</strong> mettant en avant l'utilisation des matières premières <strong>durables, recyclées,</strong> le tout dans un soucis de transparence, pour la création de vos collections.</p>
      <p>Ou bien une <strong>marque grands groupes,</strong> en transition écologique pour faire face à ces <strong>nouvelles problèmatiques, mettant en avant la préservation de l'environnement et le soucis de produire mieux.</strong></p>
      <p>Etogs vous permettra d’avoir <strong>votre propre page 'Marque'</strong> afin <strong>d’informer vos consommateurs</strong> sur votre chaîne de production, les matières utilisées, les conditions dans lesquelles vos collections sont confectionnées, et ainsi <strong>permettre à ceux-ci d’être avertis en temps réel sur votre engagement.</strong></p>
      <h1 class="warning text-center">L’industrie du textile va être confrontée à un tournant déterminant. <br>Prenons ensemble les devants afin d’anticiper au mieux cette transition.</h1>
      <div class="btn_marques">
        <% link_to 'https://webquest.fr/?m=66378_questionnaire-etogs-pour-les-marques', target: :_blank do %>
        <%= image_tag '../images/btn_marques.svg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
