<div class="wrapper-white">
  <div class="row">
    <h1 class="accroche text-center">Visite guidée</h1>
    <div class="container infos_page">
      <div class="rate_app">
        <div class="col-xs-5 img_app">
          <img src="../images/etogs-iphone3.png" alt="premiers ecrans app">
        </div>
        <div class="col-xs-7 presentation">
          <h2 class="subtitles">La notation ?</h2>
          <p>Explication des notes attribuées pour chaque article et donner le détail.</p>
        </div>
      </div>
      <div class="data_app">
        <div class="col-xs-5 img_app">
          <img src="../images/etogs-iphone4.png" alt="">
        </div>
        <div class="col-xs-7 presentation">
          <h2 class="subtitles">Les infos ?</h2>
          <p>Explication des algorithmes pour les calculs et la fiabilité des donnèes.</p>
        </div>
      </div>
      <div class="dressing_app">
        <div class="col-xs-12 presentation">
          <h2 class="subtitles">Les options ?</h2>
          <p>Possibilité de sauvegarder ses articles favoris dans le dressing + de voir la note global attribuée à son dressing.</p>
        </div>
      </div>
    </div>
  </div>
</div>
